

	{% extends 'layout.html.twig' %}

	{# on rempli les blocks définis dans le layout #}

	{% block title %}user info{% endblock %}

	{% block titlepage %}Moi{% endblock %}

	{% block content %}

	Bonjour {{ moi.username }}, ton email est {{ moi.email }} !
	{# moi.articles est vide car jusque là, on a pas eu besoin de les afficher #}
	{{ dump(moi.articles) }}

	{% for article in moi.articles %}
	<article>{{ article.title}}</article>
	{% endfor %}

	{# moi.articles est rempli avec les articles :la requête de récupération des articles n'est exécutée que si on en a besoin #}
	{{ dump(moi.articles) }}

	{% if moi.image %}
	<img class="img-fluid" src="{{ asset(image_directory ~ moi.image) }}">
	{% endif %}
        
	<form method="post" enctype="multipart/form-data">
		<input type="file" name="image">
		<button>Upload</button>
	</form>

	{#  dans une vue, si vous avez besoin de vérifier si l'utilisateur est connecté #}

	{% if is_granted('IS_AUTHENTICATED_FULLY') %}

		vous êtes connecté

	{% endif %}

	{# on peut accéder directement à l'utilisateur connecté dans twig (sans avoir à le passer en paramètre de la vue dans le controleur) #}

	Bonjour {{ app.user.username }}, ton email est {{ app.user.email }} !


	{% endblock %}
